<div data-component-id="{{id}}" data-scf-component="srp-tools/components/hbs/browser" class="scf scf-srp-browser">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        SRP BBBBBrowser
                    </a>
                </div>
            </div>
        </nav>
        <div id="tree"></div>
        <div class="row">
            <div class="col-md-12">
                <form class="form">
                    <div class="form-group row">
                        <div class="col-md-11">
                            <input id="bcrumbs" type="text" data-attrib="path" class="form-control" placeholder="/content/" value="/content/">
                        </div>
                        <div class="col-md-1">
                            <button id="fetch" type="submit" class="form-control" class="btn btn-default" evt="click=fetch">Fetch</button>
                        </div>
                    </div>
                    <div id="json"></div>
                </form>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <form class="form">
                    <div class="form-group row">
                        <div class="col-md-11" onload="displayBase()">
                            Tree goes here
                            <div id="bigTree">
                            
                            </div>
                        </div>
                    </div>
                    <div id="tree"></div>
                </form>
            </div>
        </div>
    </div>
</div>
