#json-content {
    float: right;
    width: 30%;
}
#content-tree {
    float: left !important;
    width: 30% !important;
}

#ugc-tree {
    margin-left: auto;
    margin-right: auto;
    width: 30% !important;
}

#ugcContainer {
    position: relative;
}

.box {
/*    border: 1px solid #ccc;*/
    height:500px;
    border-radius: 10px; 
}

.middle-tree{
    padding-right: 50px;
    border: 1px solid #ccc;
    height:500px;
    border-radius: 10px; 
}

.content-display {
    overflow-y: scroll; 
    height:422px; 
    overflow-x: scroll; 
/*
    border-radius: 10px; 
    border: 1px solid #ccc
*/
}